button {
  background-color: #1d3557;
  border: 1px solid #f1faee;
  color: #f1faee;
  padding: 20px 12px;
  position: relative;
  left: 10px;
  overflow: hidden;
  font-size: 0.75rem;
  font-family: "Merriweather", sans-serif;
}

.add-delete-buttons {
  display: flex;
  flex-direction: column;
  color: white;
}
